
.page-section {
  height: 90vh;
  width: 100%;
}
.page-section::before {
  content: "";
  position: absolute;
  background-image: image-set(url(/img/bg-circle-white.svg) 1x);
  top: 18px;
  left: 18px;
  height: 70px;
  width: 38px;
  z-index: 2;
}
.page-section::after {
  content: "";
  position: absolute;
  background-image: image-set(url(/img/bg-circle-white.svg) 1x);
  right: 18px;
  bottom: 58px;
  height: 70px;
  width: 38px;
  z-index: 2;
}

.page-section .background {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;

  > img {
    object-fit: cover;
    object-position: center right;
    width: 100%;
    height: 100%;
  }
}

.construction-container {
  height: 100%;
  width: 100%;
  max-width: 1120px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 0px;
  margin: 0 auto;
}
.construction-header{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.construction-header .profile-image{
  height: 72px;
  width: 72px;
}
.construction-header .profile-info .info-name{
  font-size: 1.6rem;
  letter-space: 10%;
  font-weight: 500;
  line-height: 120%;
}
.construction-header .profile-info .info-function{
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 150%;
  letter-space: 5%;
/* 
  
  @media(max-width: 768px){
    font-size: 1.3rem;
  }
  @media(max-width: 425px){
    font-size: 1.2rem;
  } */
}
.construction-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.construction-info .title{
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 18px;
/* 
  @media(max-width: 768px){
    font-size: 4.8rem;
  }
  @media(max-width: 600px){
    font-size: 4rem;
  }
  @media(max-width: 425px){
    font-size: 3.2rem;
  } */
}

.description {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
  text-align: center; 
  margin-bottom: 18px;  
/* 
  @media(max-width: 768px){
    font-size: 1.6rem;
  } */
}

div.social-media-container {
  display: flex;
  gap: 32px;
  justify-content: center;
  
  > a  img{
    height: 36px;
    width: 36px;
  }
  > a  img:hover{
    border-radius: 100%;
    background-color: #00BAC9;
  }
/* 
  @media(max-width: 768px){
    gap: 24px;
      
  > div  img{
    height: 36px;
    width: 36px;
  }
  } */
}
footer#copyright.page-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px 0;

  > div span.copyright {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    text-transform: none;
  } 
}
/* 

@media(max-width: 768px){
  font-size: 2rem;
}
@media(max-width: 425px){
  font-size: 1.8rem;
} */