body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
p {
  line-height: 1.75;
}
a {
  color: #00ff9b;
}
a:hover {
  color: #00cd7d;
}
.text-primary {
  color: #00ff9b !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-moz-selection {
  background: #00ff9b;
  text-shadow: none;
}
::selection {
  background: #00ff9b;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
.btn-xs {
  font-size: 18px;
  padding: 8px 40px;
}
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}
.btn-primary {
  background-color: #00ff9b;
  border-color: #00ff9b;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.page-section {
  padding: 80px 0;
}
.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 36px;
}
.page-section h3.section-subheading {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  margin-bottom: 100px;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav {
  background-color: #212529;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #00ff9b;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-brand {
  color: #00ff9b;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #00cd7d;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #00ff9b;
}

header.masthead {
  text-align: center;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../img/header-bg.jpg") no-repeat center center;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}
header.masthead .intro-text .intro-lead-in {
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .intro-text .intro-heading {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 50px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #00ff9b;
}

#about .backgorund-container img {
  position: absolute;
  right: 0;
  margin-top: 18rem;
}

#about .me {
  margin-bottom: 50px;
  text-align: center;
}
#about .me img {
  width: 90%;
  height: 100%;
  border: 7px solid rgba(0, 0, 0, 0.1);
}

#services .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#services .skill .skill-circle {
  display: flex;
  height: 96px;
  width: 96px;

  position: relative;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #00ff9b;
}

#services .skill .skill-circle img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 56px;
}

#contact {
  background-image: url("../img/background-02.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding: 60px 0px;
}

#contact .info-container {
  padding: 3rem 6rem;
  margin: 0px;
}

#contact .info-container .icon {
  font-size: 1.625rem;
}

#contact .info-container .info {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  outline: none;
  font-size: 1.2rem;

  text-overflow: ellipsis;
  white-space: nowrap;
}

#footer.footer {
  padding: 25px 0;
  text-align: center;
}
#footer span.copyright {
  color: white;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* -------------------------------------------------------------------------- */
/* ---------------------------- MOBILE -------------------------------------- */
/* -------------------------------------------------------------------------- */

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }

  #contact {
    padding: 120px 0 160px;
  }

  #contact .info-container {
    margin: 80px 0px;
  }
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 16px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .intro-text .intro-heading {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 50px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}
